th, td {
    padding: 1em;
    background: #ddd;
    border-bottom: 2px solid white; 
  }
  table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
  }
  .color {
  text-align: center;
  color: #ffffff;
}