#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  max-height: 3px;
}

.navbar {
  background: linear-gradient(30deg, #232323, #232323, #232323, #232323, #232323);
}

.color1 {
  text-align: center;
  color: #ffffff;
}

table td {
  background: rgb(230, 227, 227);
  color: #000000;
}

table th {
  background-color: rgb(245, 245, 239);
  color: #000000;
}

.color {
  background: linear-gradient(50deg, #5c0423, #5c0423, #7f042d, #5c0423, #5c0423);
}

th,
td {
  padding: 1em;
  background: #ddd;
  border-bottom: 2px solid white;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}